<body class="d-flex flex-column min-vh-100">
    <div class="wrapper flex-grow-1"></div>
<footer class="page-footer font-small" style="background-color: #343a40">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->

      <!-- Grid column -->
      <div class="col-md-2">

        <!-- Links -->
        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color:  #000000 "><h4>About Us</h4></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 ">

        <!-- Links -->

        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color: #000000 "><h4>Contact Us</h4></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/">IIITHYDERABAD</a>
  </div>
  <!-- Copyright -->

</footer>
</body>
<!-- Footer -->