<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">MentalHealthSupport</a>

  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        MentalIssues
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/anxiety">Anxiety</a>
        <a class="dropdown-item" href="/depression">Depression</a>
        <!-- <a class="dropdown-item" href="/addiction">Addiction<a> -->
        <!-- <a class="dropdown-item" href="/anger">Anger<a> -->
        <a class="dropdown-item" href="/eatingdistress">EatingDistress<a>
        <!-- <a class="dropdown-item" href="/suicidalfeelings">SuicidalFeelings<a> -->


      </div>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="/mentaltest">MentalTest</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="<%= upcoming_events_path %>">UpcomingEvents</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/appointment_form">AppointmentForm</a>
    </li>

    <!-- Dropdown -->

  </ul>
</nav> 