 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "anxiety.jpg", :class => "d-block w-100", :height => "600", :width => "140" %>
       <div class="carousel-caption">
       <a href="/anxiety" target="_top" class= "btn btn-xs btn-primary"><h1>Anxiety</h1></a> 
       </div>
       </div>
    <div class="carousel-item">  
      <%= image_tag "depresssion1.jpg", :class => "d-block w-100", :height => "600", :width => "140" %>

       <div class="carousel-caption">
       <a href="/depression" target="_top" class= "btn btn-xs btn-primary"><h1>Depression</h1></a> 
       </div>      
    </div>
    <div class="carousel-item">
      <%= image_tag "eating.jpg", :class => "d-block w-100", :height => "600", :width => "140" %>

       <div class="carousel-caption">
       <a href="/eatingdistress" target="_top" class= "btn btn-xs btn-primary"><h1>EatingDistress</h1></a> 
       </div>      
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div style="background-color:  #e8f6f3  ">
<div class="container">
  <br>
<h1>Overview</h1>
<hr>
<p>
  We all experience problems in our lives. Sometimes those are situational and quickly resolved. Sometimes they can be more serious and difficult to handle. Counseling Services helps students with a wide range of mental health concerns. If you or someone you know is stressed by life circumstances, experiencing mental health symptoms, or have any thoughts of suicide, please talk to a caring professional.
</p>
<p>
  However, keep in mind that the mere absence of mental health concerns does not equal positive mental health and wellness. There is a lot we can do to accentuate the positive and buffer ourselves from depression and other forms of mental concerns.
</p>
<p>
Emotional, mental, and social health often cannot be separated. They each contribute greatly to our overall well-being. Emotional health emphasizes an awareness and acceptance of one’s thoughts and feelings. Social health encompasses connecting with community, family, friends, and co-workers in ways that enrich your life and the lives of those around you.
</p>
 <br>
<h1>How are you feeling?</h1>
<hr class="nhsuk-hr">
<div class="nhsuk-grid-row">
    
 <div class="row">   
<div class="col-sm-6">
    <h2 >Help with stress, anxiety or depression</h2>
    <ul>
        
            <li><a href="/anxiety" style="color: black">Anxiety</a></li>
        
            <li><a href="/depression" style="color: black">Depreesion</a></li>
        
            <li><a href="/eatingdistress" style="color: black">EatingDistress</a></li>
        
    </ul>
</div>

<div class="col-sm-6">
    <h2 >I'm not sure how I feel</h2>
    <ul >
        
            <li><a href="/mentaltest" style="color: black">Mood self-assessment</a></li>
        
    </ul>
</div>
</div>
<br><br>

</div>
  </div>
</div>
<!-- 
<div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Help with other common feelings</h3>
    <ul class="nhsuk-list nhsuk-list-links">
        
            <li><a href="/conditions/stress-anxiety-depression/feeling-lonely/">Feeling lonely</a></li>
        
            <li><a href="/conditions/stress-anxiety-depression/coping-with-bereavement/">Grief after bereavement or loss</a></li>
        
            <li><a href="/conditions/stress-anxiety-depression/controlling-anger/">Anger</a></li>
        
    </ul>
</div>
 -->