<div style="background-color:  #e8f6f3 ">
<center><h1 style="color: #008080">Anxiety</h1></center>
<div class="container">
<h1>Overview</h1>
<p>
Occasional anxiety is an expected part of life. You might feel anxious when faced with a problem at work, before taking a test, or before making an important decision. But anxiety disorders involve more than temporary worry or fear. For a person with an anxiety disorder, the anxiety does not go away and can get worse over time. The symptoms can interfere with daily activities such as job performance, school work, and relationships.

There are several types of anxiety disorders, including generalized anxiety disorder, panic disorder, and various phobia-related disorders.

</p>
<br><br>
<h1>Signs and Symptoms</h1><br>
<h2>Generalized Anxiety Disorder</h2><br>
<p>
	People with generalized anxiety disorder (GAD) display excessive anxiety or worry, most days for at least 6 months, about a number of things such as personal health, work, social interactions, and everyday routine life circumstances. The fear and anxiety can cause significant problems in areas of their life, such as social interactions, school, and work.

    Generalized anxiety disorder symptoms include:

    Feeling restless, wound-up, or on-edge
    Being easily fatigued
    Having difficulty concentrating; mind going blank
    Being irritable
    Having muscle tension
    Difficulty controlling feelings of worry
    Having sleep problems, such as difficulty falling or staying asleep, restlessness, or unsatisfying sleep

</p> </br><br>
<h2>Panic Disorder</h2></br>
<p>
	People with panic disorder have recurrent unexpected panic attacks. Panic attacks are sudden periods of intense fear that come on quickly and reach their peak within minutes. Attacks can occur unexpectedly or can be brought on by a trigger, such as a feared object or situation.

During a panic attack, people may experience:

    Heart palpitations, a pounding heartbeat, or an accelerated heartrate
    Sweating
    Trembling or shaking
    Sensations of shortness of breath, smothering, or choking
    Feelings of impending doom
    Feelings of being out of control

People with panic disorder often worry about when the next attack will happen and actively try to prevent future attacks by avoiding places, situations, or behaviors they associate with panic attacks. Worry about panic attacks, and the effort spent trying to avoid attacks, cause significant problems in various areas of the person’s life, including the development of agoraphobia (see below).
</p><br><br>
<h2>Phobia-related disorders</h2>
<p>
	People with panic disorder have recurrent unexpected panic attacks. Panic attacks are sudden periods of intense fear that come on quickly and reach their peak within minutes. Attacks can occur unexpectedly or can be brought on by a trigger, such as a feared object or situation.

During a panic attack, people may experience:

    Heart palpitations, a pounding heartbeat, or an accelerated heartrate
    Sweating
    Trembling or shaking
    Sensations of shortness of breath, smothering, or choking
    Feelings of impending doom
    Feelings of being out of control

People with panic disorder often worry about when the next attack will happen and actively try to prevent future attacks by avoiding places, situations, or behaviors they associate with panic attacks. Worry about panic attacks, and the effort spent trying to avoid attacks, cause significant problems in various areas of the person’s life, including the development of agoraphobia (see below).
</p><br><br>

<h1>Risk Factors</h1>

<p>

Researchers are finding that both genetic and environmental factors contribute to the risk of developing an anxiety disorder. Although the risk factors for each type of anxiety disorder can vary, some general risk factors for all types of anxiety disorders include:

    Temperamental traits of shyness or behavioral inhibition in childhood
    Exposure to stressful and negative life or environmental events in early childhood or adulthood
    A history of anxiety or other mental illnesses in biological relatives
    Some physical health conditions, such as thyroid problems or heart arrhythmias, or caffeine or other substances/medications, can produce or aggravate anxiety symptoms; a physical health examination is helpful in the evaluation of a possible anxiety disorder.
 </p><br><br>   

</div>
</div>