<div style="background-color:  #e8f6f3 ">
<center><h1 style="color: #008080">Depression</h1></center>
<br>
<div class="container">
	<h1>Overview</h1>
<p>
Depression is a common mental disorder affecting more than 264 million people worldwide. It is characterized by persistent sadness and a lack of interest or pleasure in previously rewarding or enjoyable activities.  It can also disturb sleep and appetite; tiredness and poor concentration are common. Depression is a leading cause of disability around the world and contributes greatly to the global burden of disease. The effects of depression can be long-lasting or recurrent and can dramatically affect a person’s ability to function and live a rewarding life.	

The causes of depression include complex interactions between social, psychological and biological factors. Life events such as childhood adversity, loss and unemployment contribute to and may catalyse the development of depression.

Psychological and pharmacological treatments exist for moderate and severe depression. However, in low- and middle-income countries, treatment and support services for depression are often absent or underdeveloped. An estimated 76–85% of people suffering from mental disorders in these countries lack access to the treatment they need
</p>
</br><hr>
<h1>Signs and Symptoms</h1><br>
<h3 data-fontsize="22" data-lineheight="31">10 common symptoms of depression:</h3>
<p>Depression varies from person to person, but there are some common signs and symptoms. It’s important to remember that these symptoms can be part of life’s normal lows. But the more symptoms you have, the stronger they are, and the longer they’ve lasted—the more likely it is that you’re dealing with depression.</p>
<ol><li><strong>Feelings of helplessness and hopelessness.&nbsp;</strong>A bleak outlook—nothing will ever get better and there’s nothing you can do to improve your situation.</li><li><strong>Loss of interest in daily activities.&nbsp;</strong>You don’t care anymore about former hobbies, pastimes, social activities, or sex. You’ve lost your ability to feel joy and pleasure.</li>
<li><strong>Appetite or weight changes.&nbsp;</strong>Significant weight loss or weight gain—a change of more than 5% of body weight in a month.</li><li><strong>Sleep changes.&nbsp;</strong>Either insomnia, especially waking in the early hours of the morning, or oversleeping.</li>	
<li><strong>Anger or irritability.&nbsp;</strong>Feeling agitated, restless, or even violent. Your tolerance level is low, your temper short, and everything and everyone gets on your nerves.</li><li><strong>Loss of energy.&nbsp;</strong>Feeling fatigued, sluggish, and physically drained. Your whole body may feel heavy, and even small tasks are exhausting or take longer to complete.</li><li><strong>Self-loathing.&nbsp;</strong>Strong feelings of worthlessness or guilt. You harshly criticize yourself for perceived faults and mistakes.</li><li><strong>Reckless behavior.&nbsp;</strong>You engage in escapist behavior such as substance abuse, compulsive gambling, reckless driving, or dangerous sports.</li>
<li><strong>Concentration problems.&nbsp;</strong>Trouble focusing, making decisions, or remembering things.</li><li><strong>Unexplained aches and pains.&nbsp;</strong>An increase in physical complaints such as headaches, back pain, aching muscles, and stomach pain.</li></ol>
<br><hr><br>
<h2 data-fontsize="28" data-lineheight="42">What you can do to feel better</h2>
<p>When you’re depressed, it can feel like there’s no light at the end of the tunnel. But there are many things you can do to lift and stabilize your mood. The key is to start with a few small goals and slowly build from there, trying to do a little more each day. Feeling better takes time, but you can get there by making positive choices for yourself.</p>
</br>
<div style="float: right;">
	<strong >Are you feeling any above symptoms?</strong><hr>
	<strong> Want to take a self-assessment test</strong>  <%= link_to 'Self-assessment', '/mentaltest' , class: "btn btn-xs btn-primary" %><br><br>
	<strong>  &nbsp &nbsp &nbspWant to book an appointment  &nbsp &nbsp &nbsp</strong>  <%= link_to 'AppointmentForm', '/appointment_form' , class: "btn btn-xs btn-primary" %><br>
<br><br>
</div>
</div>
</div>