<center><h1 style="color: blue">Depression</h1></center>
<br>
<div class="container">
	<h1>Overview</h1>
<p>
Depression is a common mental disorder affecting more than 264 million people worldwide. It is characterized by persistent sadness and a lack of interest or pleasure in previously rewarding or enjoyable activities.  It can also disturb sleep and appetite; tiredness and poor concentration are common. Depression is a leading cause of disability around the world and contributes greatly to the global burden of disease. The effects of depression can be long-lasting or recurrent and can dramatically affect a person’s ability to function and live a rewarding life.	

The causes of depression include complex interactions between social, psychological and biological factors. Life events such as childhood adversity, loss and unemployment contribute to and may catalyse the development of depression.

Psychological and pharmacological treatments exist for moderate and severe depression. However, in low- and middle-income countries, treatment and support services for depression are often absent or underdeveloped. An estimated 76–85% of people suffering from mental disorders in these countries lack access to the treatment they need
</p>
</br>
<h1>Impact</h1>
<p>
Depression and associated mental disorders can have a profound effect on all aspects of life, including performance at school, productivity at work, relationships with family and friends, and ability to participate in the community. Research also shows strong relationships between depression and physical health, including tuberculosis and cardiovascular disease. Depression affects all types of people – young and old, rich and poor – in all countries. Women are more likely to have depression than men. 
</p>
<br><br>
<h1>Response</h1>
<p>
WHO works with Member States and partners to reduce the burden of mental disorders like depression. The World Health Assembly has passed several resolutions relating to the prevention and treatment of depression, including in a May 2013 resolution calling for a comprehensive, coordinated response to mental disorders at the country level.

WHO has developed brief psychological intervention manuals for depression that may be delivered by lay workers. An example is Problem Management Plus, which describes the use of behavioural techniques, relaxation training, problem-solving treatment and how to strengthen social support as means of managing depression. The manual Group Interpersonal Therapy (IPT) for Depression describes a group counselling approach that focuses on identifying and addressing interpersonal difficulties. Finally, Thinking Healthy covers the use of cognitive-behavioural therapy for perinatal depression.

WHO’s mental health Gap Action Programme (mhGAP) focuses on helping countries to scale up first-line support for mental health conditions through training of non-specialists. This allows gaps in service to be filled and broadens the overall capacity of a country’s health-care system.	

</p>

</div>