<center><h1 style="color: blue">EatingDistress</h1></center>
<div class="container" style="background-color: #fff">
<h1>Overview</h1>
<p>
There is a commonly held misconception that eating disorders are a lifestyle choice. Eating disorders are actually serious and often fatal illnesses that are associated with severe disturbances in people’s eating behaviors and related thoughts and emotions. Preoccupation with food, body weight, and shape may also signal an eating disorder. Common eating disorders include anorexia nervosa, bulimia nervosa, and binge-eating disorder.
</p>
<br><br>
<h1>Signs and Symptoms</h1><br>
<h2>Anorexia nervosa</h2><br>
<p>
    People with anorexia nervosa may see themselves as overweight, even when they are dangerously underweight. People with anorexia nervosa typically weigh themselves repeatedly, severely restrict the amount of food they eat, often exercise excessively, and/or may force themselves to vomit or use laxatives to lose weight. Anorexia nervosa has the highest mortality rate of any mental disorder. While many people with this disorder die from complications associated with starvation, others die of suicide.

Symptoms include:

    Extremely restricted eating
    Extreme thinness (emaciation)
    A relentless pursuit of thinness and unwillingness to maintain a normal or healthy weight
    Intense fear of gaining weight
    Distorted body image, a self-esteem that is heavily influenced by perceptions of body weight and shape, or a denial of the seriousness of low body weight

Other symptoms may develop over time, including:

    Thinning of the bones (osteopenia or osteoporosis)
    Mild anemia and muscle wasting and weakness
    Brittle hair and nails
    Dry and yellowish skin
    Growth of fine hair all over the body (lanugo)
    Severe constipation
    Low blood pressure slowed breathing and pulse
    Damage to the structure and function of the heart
    Brain damage
    Multiorgan failure
    Drop in internal body temperature, causing a person to feel cold all the time
    Lethargy, sluggishness, or feeling tired all the time
    Infertility
</p> </br><br>
<h2>Bulimia nervosa</h2></br>
<p>
    People with bulimia nervosa have recurrent and frequent episodes of eating unusually large amounts of food and feeling a lack of control over these episodes. This binge-eating is followed by behavior that compensates for the overeating such as forced vomiting, excessive use of laxatives or diuretics, fasting, excessive exercise, or a combination of these behaviors. People with bulimia nervosa may be slightly underweight, normal weight, or over overweight.

Symptoms include:

    Chronically inflamed and sore throat
    Swollen salivary glands in the neck and jaw area
    Worn tooth enamel and increasingly sensitive and decaying teeth as a result of exposure to stomach acid
    Acid reflux disorder and other gastrointestinal problems
    Intestinal distress and irritation from laxative abuse
    Severe dehydration from purging of fluids
    Electrolyte imbalance (too low or too high levels of sodium, calcium, potassium, and other minerals) which can lead to stroke or heart attack

</p><br><br>
<h2>Binge-eating disorder</h2>
<p>
   People with binge-eating disorder lose control over his or her eating. Unlike bulimia nervosa, periods of binge-eating are not followed by purging, excessive exercise, or fasting. As a result, people with binge-eating disorder often are overweight or obese. Binge-eating disorder is the most common eating disorder in the U.S.

Symptoms include:

    Eating unusually large amounts of food in a specific amount of time, such as a 2-hour period
    Eating even when you're full or not hungry
    Eating fast during binge episodes
    Eating until you're uncomfortably full
    Eating alone or in secret to avoid embarrassment
    Feeling distressed, ashamed, or guilty about your eating
    Frequently dieting, possibly without weight loss

</p><br><br>

<h1>Risk Factors</h1>

<p>
Eating disorders can affect people of all ages, racial/ethnic backgrounds, body weights, and genders. Eating disorders frequently appear during the teen years or young adulthood but may also develop during childhood or later in life. These disorders affect both genders, although rates among women are higher than among men. Like women who have eating disorders, men also have a distorted sense of body image.

Researchers are finding that eating disorders are caused by a complex interaction of genetic, biological, behavioral, psychological, and social factors. Researchers are using the latest technology and science to better understand eating disorders.

One approach involves the study of human genes. Eating disorders run in families. Researchers are working to identify DNA variations that are linked to the increased risk of developing eating disorders.

Brain imaging studies are also providing a better understanding of eating disorders. For example, researchers have found differences in patterns of brain activity in women with eating disorders in comparison with healthy women. This kind of research can help guide the development of new means of diagnosis and treatment of eating disorders.

 </p><br>
 <h1>Treatments and Therapies</h1><br>
 <p>
 It is important to seek treatment early for eating disorders. People with eating disorders are at higher risk for suicide and medical complications. People with eating disorders can often have other mental disorders (such as depression or anxiety) or problems with substance use. Complete recovery is possible.

Treatment plans are tailored to individual needs and may include one or more of the following:

    Individual, group, and/or family psychotherapy
    Medical care and monitoring
    Nutritional counseling
    Medications
</p><br><br>
</div>